@page "/"
@using ODataWithStronglyTypedIdsRepro.Shared
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_students is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>StudentId.Value.ToString()</th>
                <th>When Enrolled</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in _students)
            {
                <tr>
                    <td>@student.Id.Value</td>
                    <td>@student.WhenEnrolled</td>
                    <td>@student.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<ViewStudentDto> _students;

    protected override async Task OnInitializedAsync()
    {
        _students = await Http.GetJsonAsync<ViewStudentDto[]>("api/students");
    }

}
